DirectoryIndex index.html

# Захист папки panel/ від прямого перегляду через браузер
<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

# Кодування UTF-8
AddDefaultCharset UTF-8

# Кешування статики
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css         "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType image/png        "access plus 1 month"
    ExpiresByType image/jpeg       "access plus 1 month"
</IfModule>
